img{
	width: 250px;
	height: 250px;
	object-fit:cover;
	
}
.body{
	padding-bottom: 10%;
	margin: auto;
	width: 75%;
}

h1{
	display: block;
	width: 100%;
	text-align: center;
	background-color: black;
	padding: 20px;
}

input[type="file"]{
	display: block;
	margin: auto;
	
}

ul li a{
	font-size: 1.5em;
}

#profile{
	display: block;
	margin: auto;
}


.body{
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.sidenav{
	padding-top: 5%;
	position: fixed;
	list-style: none;
	background-color: #DDDDDD;
	height: 100%;
}