body, h1 {
  font-family: "Roboto Slab", "Dosis", sans-serif;
}

label{
  display: block;
  text-align: left;
}

#indexContent{
  height: 100%;
}

.navContainer {
    width: fit-content;
    margin: auto;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {height:auto;}
}
